/*
Grand Canyon University
CST-126

myBlog
Version 1.6

Authors:
Nicholas Robertson
Michael Weaver

Date:
September 3, 2017

Synopsis:
This file contains the CSS styling information for forms such as the new user registration page.

References:
CSS Form - https://www.w3schools.com/css/css_form.asp
CSS Tooltip - https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_right
*/

header, body, footer
{
     font-family: Arial, Helvetica, sans-serif;
}

body
{
    padding: 8px 8px;
}

h1
{
    text-align: center;
    font-size: large;
}

hr
{
    display: block;
    border: 1px solid lightgray;
}

.tooltip
{
    position: relative;
}

.tooltip .tooltipText
{
    visibility: hidden;
    width: 250px;
    background-color: green;
    color: white;
    text-align: left;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltipText
{
    visibility: visible;
}

.standardForm
{
    width: 25%;
}

.blogEntryForm
{
    width: 50%;
}

.commentForm
{
    width: 33%;
}

.menuForm
{
    width: auto;
    display: inline;
}

/*
Text, email, and password inputs are exactly the same.
*/
input[type=text], input[type=email], input[type=password], textarea
{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 6px 8px;
    margin-top: 4px;
    margin-bottom: 10px;
    display: block;
    border: 1px solid lightgray;
    border-radius: 6px;
    box-sizing: border-box;
    resize: none;
}

.button, .buttonSmall, .buttonSmaller, .menuButton
{
    width: 100%;
    background-color: dodgerblue;
    color: white;
    padding: 14px 20px;
    margin-top: 4px;
    margin-bottom: 10px;
    display: block;
    border: 1px solid lightskyblue;
    border-radius: 6px;
    cursor: pointer;
}

.buttonSmall
{
    width: 25%;
}

/*
Override default width and display type.
Menu buttons should display horizontally (inline).
 */
.buttonSmaller, .menuButton
{
    width: auto;
    display: inline;
}

.buttonSmaller
{
    padding: 5px 20px;
}

input[type=button]:hover, input[type=submit]:hover
{
    background-color: #1c59b3;
}