/*
Grand Canyon University
CST-126

myBlog
Version 1.4

Authors:
Nicholas Robertson
Michael Weaver

Date:
August 20, 2017

Synopsis:
This file contains the CSS styling information for hyperlinks.

References:
CSS HTML Links - https://www.w3schools.com/html/html_links.asp
*/

a:link
{
    color: dodgerblue;
    background-color: transparent;
    text-decoration: none;
}

a:visited
{
    color: royalblue;
}

a:hover
{
    color: midnightblue;
}

a:active
{
    color: blue;
}