/*
Grand Canyon University
CST-126

myBlog
Version 1.4

Authors:
Nicholas Robertson
Michael Weaver

Date:
August 20, 2017

Synopsis:
This file contains the CSS styling information for tables such as the list of blogs.

References:
Styling Tables - https://www.w3schools.com/css/css_table.asp
*/

/*
#leftColumn and #rightColumn must be half width of table
 */
#leftColumn, #rightColumn
{
    display: inline-block;
    width: 19.9%;
}

table
{
    width: 40%;
    border-collapse: collapse;
    border: 1px solid #dddddd;
    border-radius: 6px;
    padding-top: 10px;
}

table, th, td
{
    text-align: left;
    padding: 6px 10px;
    word-break: break-all;
}

th
{
    background-color: dodgerblue;
    color: white;
}

tr:nth-child(odd)
{
    background-color: #eeeeee;
}